<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write Write Cross</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'type_type/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="navbar">
                <a href="/register_login">register/login</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            <h1>Write Write Cross</h1>
            <h3 class="pad_b">A game where friends or strangers can write something interesting or silly together.</h3>
            <h3 class="sm_caps">How to play</h3>
            <ul>
                <li>Invite a friend or rando to start a project</li>
                <li>Players take turns adding or deleting words</li>
                <li>For every two words that are added, one word must be deleted</li>
                <li>Example: writer1 writes a word, writer2 adds a word, writer1 must then delete one of the two existing words. This cycle continues as long as you want it to!</li>
            </ul>
            </div>
        </div>
    </div>
</body>
</html>